body{
    background: black;
    margin: 0;
}
.bloc1{
    background: cadetblue;
    height: 100vh;
}
.bloc2{
    background: darkcyan;
    height: 100vh;
}
.bloc3{
    background: cornflowerblue;
    height: 100vh;
}
button{
   margin-left: 50%;
    margin-top: 98vh;
}
